*.retry
*/__pycache__
*.pyc
.ansible
.cache
*.vault_password
*.vault_pass
*.vault
.vault_pass
.vpass
vault-password.txt
vault_pass.txt
private_keys/
*.pem
*.key
collections/ansible_collections/
roles/external/
roles/downloaded/
.ansible-lint/
*.log
ansible.log
